.analysis-container {
  align-self: flex-start;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.image-and-scores {
  display: flex;
  width: 100%;
  height: fit-content;
}

.image-section {
  display: flex;
  width: 50%;
}

.uploaded-image {
  width: 40rem;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #4a4a4a;
  justify-self: flex-start;
}

.list {
  list-style-type: symbols();
  padding-left: 20px;
  margin-top: 10px;
  list-style-position: outside;
}

.list-topic {
  font-weight: 600;
  min-width: 150px;
}

.list-text {
  text-align: left;
}
.feedback {
  display: flex;

  gap: 30px;
}
.feedback-item {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding: 1.5em 0;

  flex-wrap: wrap;
  width: 50%;
  border-radius: 50px;
  font-size: 1.2rem;
  background-color: #f9fafb;
}
.score-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.span {
  padding-top: 1.5rem;
}

.insights {
  background-color: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}

.insight {
  font-size: 1rem;
  margin-top: 10px;
  color: #555;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #5b67f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #4750b3;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.file-input {
  padding: 10px;
  justify-self: flex-start;
  background-color: #f1f3f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
}

.upload-btn {
  width: 40%;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  background-color: #5b67f3;
  border: none;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.upload-btn:hover:not(:disabled) {
  background-color: #4750b3;
}

.new-btn {
  margin: 0;
  background-color: #5b67f3;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500; 
}

.new-btn:hover {
  background-color: #4750b3;
}
